{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<a href="#filter=.home">
    <div class="element clearfix col2-3 home">
        <div class="element-bg">
            <div class="number">
                <div class="nav-button"> <span class="nav-bar"></span> <span class="nav-bar"></span> <span class="nav-bar"></span> </div>
            </div>
            <h2>Conheça o nosso portfólio de projetos. </h2>
            <h3>Trabalhamos com Administração e Gerenciamento de obras, comerciais e residenciais.</h3>
        </div>
    </div>
</a>
<div class="element clearfix col1-3 home">
    <div class="images"><img src="{{ '/static/images/pantanal_0.jpg'|url }}" alt="" /></div>
</div>
<div class="element home clearfix col1-3 services no-padding">
    <div class="images"><img src="{{ '/static/images/arbor_0.jpg'|url }}" alt="" /></div>
</div>
<a href="#filter=.services">
    <div class="element home clearfix col2-3 services">
        <div class="element-bg">
            <div class="number">
                <div class="nav-button"> <span class="nav-bar"></span> <span class="nav-bar"></span> <span class="nav-bar"></span> </div>
            </div>
            <h2>Serviços</h2>
            <h3>A Starc Engenharia disponibiliza a seus clientes várias formas de contratação, adequando-se às necessidades de cada tipo de serviço. Entre os tipos de contratação praticados pela Starc Engenharia estão: Administração e Gerenciamento, Empreitada Global ou Parcial e Incorporação imobiliária.</h3>
        </div>
    </div>
</a>
<div class="element clearfix col1-3 services no-padding">
    <div class="images"><img src="{{ '/static/images/pic2.jpg'|url }}" alt="" /></div>
</div>
<div class="element clearfix col2-3 services">
    <h2>Administração e Gerenciamento</h2>
    <p>
        Taxa de Administração sobre os custos gerais da obra. Neste caso é cobrada uma taxa,
        previamente estabelecida, a ser aplicada mensalmente sobre os gastos da obra.
        Existem outras alternativas desta modalidade que incluem reembolsos de determinados gastos
        e pagamentos fixos para determinados itens de custos. Indicado para obras de construção e
        reforma, onde pode haver variações de quantidades e/ou especificações dos materiais aplicados.
    </p>
</div>
<div class="element clearfix col2-3 services">
    <h2>Condomínio</h2>
    <p>
        Construção a preço de custo é a obra em que um grupo de adquirentes, denominados condôminos,
        levam a cabo uma construção mediante aporte de parcelas periódicas, bancado o custo exato da obra.
        Essa modalidade se distingue da construção a preço fechado, que é aquela em que o adquirente compra
        o imóvel por um preço certo, fixado previamente com a construtora.
    </p>
</div>
<div class="element clearfix col2-3 services">
    <h2>Empreitada Global</h2>
    <p>
        Este tipo de contratação contempla os custos diretos envolvidos mais o BDI da Construtora.
        Neste caso as quantidades dos serviços e especificações dos materiais são previamente determinadas,
        arcando o construtor com os riscos de um eventual erro na quantificação de cada serviço.
        A medição e, campo dos serviços realizados normalmente se faz pela determinação do percentual
        executado de cada serviço, até o limite do valor proposto.
    </p>
</div>
<div class="element clearfix col2-3 services">
    <h2>Incorporação Imobiliária</h2>
    <p>
        Incorporação imobiliária, no direito brasileiro, é nome dado para o conjunto de atividades exercidas
        com a finalidade de construir ou promover a construção de edificações ou conjunto de edificações,
        bem como a sua comercialização, total ou parcial, compostas de unidades autônomas que, em seu conjunto,
        formam um condomínio.
    </p>
</div>
<a href="#filter=.clients">
    <div class="element home clearfix col2-3 clients">
        <div class="element-bg">
            <h2>Nossos Clientes</h2>
            <div class="number">
                <div class="nav-button"> <span class="nav-bar"></span> <span class="nav-bar"></span> <span class="nav-bar"></span> </div>
            </div>
            <h3 class="blockquote">“ This could be a blockquote. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla. ”<br />
                <span>John Doe, Company Name</span>
            </h3>
        </div>
    </div>
</a>
<div class="element clearfix col1-3 clients">
    <div class="logo"><img src="{{ '/static/images/logos/alamo.jpg'|url }}" alt="" /></div>
    <div class="logo last"><img src="{{ '/static/images/logos/comarchi.jpg'|url }}" alt="" /></div>
    <div class="logo bottom"><img src="{{ '/static/images/logos/quatro_estacoes.jpg'|url }}" alt="" /></div>
    <div class="logo last bottom"><img src="{{ '/static/images/logos/koerich_imoveis.jpg'|url }}" alt="" /></div>
</div>
<div class="element clearfix col1-3 clients">
    <div class="logo"><img src="{{ '/static/images/logos/logo2.png'|url }}" alt="" /></div>
    <div class="logo last"><img src="{{ '/static/images/logos/logo3.png'|url }}" alt="" /></div>
    <div class="logo bottom"><img src="{{ '/static/images/logos/logo1.png'|url }}" alt="" /></div>
    <div class="logo last bottom"><img src="{{ '/static/images/logos/logo5.png'|url }}" alt="" /></div>
</div>
<!--
Detalhes de projeto
-->
<div class="element detail1 clearfix col1-1 auto no-border">
    <div class="flexslider">
        <div class="images">
            <ul class="slides">
                <li><img src="{{ '/static/images/shutterstock_79892062.jpg'|url }}" alt=""="" /></li>
                <li><img src="{{ '/static/images/shutterstock_84787564.jpg'|url }}" alt=""="" /></li>
            </ul>
            <a href="#filter=.portfolio">
                <div class="icon close"></div>
            </a>
        </div>
    </div>
</div>
<div class="element detail1 clearfix col1-3">
    <h2>Bontempo</h2>
    <ul class="list check">
        <li>Cliente: Bontempo</li>
        <li>Data: Novembro 2015</li>
    </ul>
</div>
<div class="element detail1 clearfix col2-3">
    <h2>Loja Bontempo</h2>
    <h3>Lorem ipsum dolor sit amet, <span>consectetur adipiscing</span> elit. Vestibulum id ligula felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla.</h3>
</div>
<div class="element detail1 clearfix col1-3">
    <p class="blockquote">“ This could be a blockquote alright. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio. ” <span><br />
        John Doe, Company Name</span>
    </p>
</div>
<!--
Fim Detalhe Projeto
-->
<div class="element clearfix col1-3 overflow portfolio portfolio1">
    <div class="movable-content">
        <div class="images"><img src="{{ '/static/images/project1-th.jpg'|url }}" alt="" /></div>
        <div class="title">
            <h4>Bontempo</h4>
            <p>Reforma</p>
        </div>
    </div>
    <div class="infos">
        <div class="nav-button2 center"> <span class="nav-bar"></span> <span class="nav-bar"></span> <span class="nav-bar"></span> </div>
        <a href="#filter=.detail1" class="tippy">
            <div class="tab"><i class="icons view-more"></i></div>
            <div class="alignleft">
                <div class="hover-title">Mais detalhes</div>
            </div>
        </a>
        <div class="clear"></div>
        <a href="{{ '/static/images/shutterstock_79892062.jpg'|url }}" class="popup tippy">
            <div class="tab"><i class="icons zoom"></i></div>
            <div class="alignleft">
                <div class="hover-title">Fotos</div>
            </div>
        </a>
        <div class="clear"></div>
        <a href="#" onClick="return false" class="tippy">
            <div class="tab"><i class="icons pdf"></i></div>
            <div class="alignleft">
                <div class="hover-title">Link para PDF</div>
            </div>
        </a>
        <div class="clear"></div>
        <a href="#" onClick="return false" class="tippy">
            <div class="tab last"><i class="icons link"></i></div>
            <div class="alignleft">
                <div class="hover-title">Visit Website</div>
            </div>
        </a>
        <div class="hover-content"><span>Cliente: Bontempo<br />
            Data: November 2012<br />
            Tipo: Comercial<br />
        </div>
    </div>
</div>
<!-- Fim portifolio1 -->
<div class="element clearfix col1-3 middle portfolio">
    <div class="award"></div>
    <div class="barrier"></div>
    <p> We have been featured in cssawards, for<strong> Most Creative Company</strong>. <br /><span>Jan 2013</span></p>
</div>
<!-- Fim portifolio box -->
<div class="element clearfix col1-3 portfolio responsive-col">
    <h2>Let's get crackin!</h2>
    <p>Just give us a call or drop us a line! No worries, we'll bring the coffee ;-)<br />
        hello@domain.com<br />
        (845) 123 4567
    </p>
</div>
<!--
### Sobre ###
-->
<div class="element clearfix col1-3 about overflow">
    <div class="movable-content">
        <div class="images"><img src="{{ '/static/images/about1.jpg'|url }}" alt="" /></div>
        <div class="title">
            <h4>Thiago Chiarelli</h4>
            <p>Engenheiro</p>
        </div>
    </div>
    <div class="infos">
        <div class="nav-button2 center"> <span class="nav-bar"></span> <span class="nav-bar"></span> <span class="nav-bar"></span> </div>
        <a href="#" onClick="return false" class="tippy">
            <div class="tab"><i class="icons xing"></i></div>
            <div class="alignleft">
                <div class="hover-title">Visit my Xing account</div>
            </div>
        </a>
        <div class="clear"></div>
        <a href="#" onClick="return false" class="tippy">
            <div class="tab"><i class="icons email"></i></div>
            <div class="alignleft">
                <div class="hover-title">Write me an email</div>
            </div>
        </a>
        <div class="clear"></div>
        <a href="#" onClick="return false" class="tippy">
            <div class="tab last"><i class="icons google"></i></div>
            <div class="alignleft">
                <div class="hover-title">Me on GooglePlus</div>
            </div>
        </a>
        <div class="hover-content"><span class="blockquote">" At vero eos et accusam et justo. Stet clita kasd gubergren, no sea takimata sanctus. Integer commodo tristique odio, quis fringilla. "</span></div>
    </div>
</div>
<a href="#filter=.about">
    <div class="element home clearfix col2-3 about">
        <div class="element-bg">
            <div class="number">
                <div class="nav-button"> <span class="nav-bar"></span> <span class="nav-bar"></span> <span class="nav-bar"></span> </div>
            </div>
            <h2>Empresa</h2>
            <h3>A STARC tem, em seu alicerce, transparência e respeito ao cliente. Seus diretores e colaboradores seguem a filosofia de maxima transparência e honestidade e estão sempre dispostos a atender aos clientes da melhor maneira possível. Com larga experiência em variados tipos de obras, a STARC possui um banco de dados de referência, que a auxilia a realizar estimativas apuradas de custos em prazos reduzidos, de acordo com as características de cada empreendimento.</h3>
        </div>
    </div>
</a>
<div class="element clearfix col1-3 about overflow">
    <div class="movable-content">
        <div class="images"><img src="{{ '/static/images/about3.jpg'|url }}" alt="" /></div>
        <div class="title">
            <h4>Ricardo Schwabe</h4>
            <p>Engenheiro</p>
        </div>
    </div>
    <div class="infos">
        <div class="nav-button2 center"> <span class="nav-bar"></span> <span class="nav-bar"></span> <span class="nav-bar"></span> </div>
        <a href="#" onClick="return false" class="tippy">
            <div class="tab"><i class="icons tweat"></i></div>
            <div class="alignleft">
                <div class="hover-title">@tim.smith</div>
            </div>
        </a>
        <div class="clear"></div>
        <a href="#" onClick="return false" class="tippy">
            <div class="tab"><i class="icons pinterest"></i></div>
            <div class="alignleft">
                <div class="hover-title">My Pinterest account</div>
            </div>
        </a>
        <div class="clear"></div>
        <a href="#" onClick="return false" class="tippy">
            <div class="tab last"><i class="icons facebook"></i></div>
            <div class="alignleft">
                <div class="hover-title">Visit me on facebook</div>
            </div>
        </a>
        <div class="hover-content"><span class="blockquote">" At vero eos et accusam et justo. Stet clita kasd gubergren, no sea takimata sanctus. Integer commodo tristique odio, quis fringilla. "</span></div>
    </div>
</div>
<div class="element home clearfix col2-3 contact">
    <div id="map"></div>
</div>
<div class="element home  clearfix col2-3 contact">
    <h2>Starc Engenharia</h2>
    <p> Rodovia Admar Gonzaga, 440 Sala 204, Itacorubi<br />
        Florianópolis, Santa Catariana<br />
        CEP: 88034-000<br />
        contato@starc.eng.br<br />
        Fones: (48) - 3365-6001 / 3365-6002
    </p>
</div>
<div class="element home clearfix col1-3 contact no-padding">
    <div id="contact">
        <div id="message"></div>
        <form method="post" action="http://ppp-templates.de/ar/contact.php" name="contactform" id="contactform" autocomplete="off">
            <fieldset>
                <div class="alignleft padding-right">
                    <label for="name" accesskey="U"><span class="required">Name</span></label>
                    <input name="name" type="text" id="name" size="30" title="Name *" class="first" />
                    <label for="email" accesskey="E"><span class="required">Email</span></label>
                    <input name="email" type="text" id="email" size="30" title="Email *" />
                    <label for="phone" accesskey="P"><span class="required">Phone</span></label>
                    <input name="phone" type="text" id="phone" size="30" title="Phone *" class="third" />
                </div>
                <label for="comments" accesskey="C"><span class="required">Comments</span></label>
                <textarea name="comments" cols="40" rows="3" id="comments" title="Comment *"></textarea>
                <input type="submit" class="submit" id="submit" value="Submit" />
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
