{% extends "layout.html" %}
{% block title %}{{ this.name }}{% endblock %}
{% block body %}
<div class="element {{ this.id }} clearfix col1-1 auto no-border">
    <div class="flexslider">
        {% set images = this.attachments.images.all() %}
        {% if images %}
        <div class="images">
            <ul class="slides">
                {% for image in images %}
                <li><img src="{{ image|url }}" alt="{{ this.name }}" /></li>
                {% endfor %}
            </ul>
            <a href="{{ '/projects'|url }}#filter=.portfolio">
                <div class="icon close"></div>
            </a>
        </div>
        {% endif %}
    </div>
</div>
<div class="element {{ this.id }} clearfix col1-3">
    <h2>{{ this.name }}</h2>
    <ul class="list check">
        <li>Cliente: {{ this.name }}</li>
        <li>Data: Novembro 2015</li>
    </ul>
</div>
<div class="element {{ this.id }} clearfix col2-3">
    <h2>{{ this.name }}</h2>
    <h3>Lorem ipsum dolor sit amet, <span>consectetur adipiscing</span> elit. Vestibulum id ligula felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla.</h3>
</div>
<div class="element {{ this.id }} clearfix col1-3">
    <p class="blockquote">“ This could be a blockquote alright. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio. ” <span><br />
        John Doe, Company Name</span>
    </p>
</div>
{% endblock %}
